<ion-header>
    <ion-toolbar>
      <ion-title>Products Gallary</ion-title>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['../edit-product', 'new']" routerLinkActive="router-link-active" >
          <ion-icon slot="start" name="create"></ion-icon>
          new Product
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <store-app-repository-tags-input #productNameWordsInput type="array" [suggestions]="(suggestions|async) || []"></store-app-repository-tags-input>
    <store-app-repository-tags-input #productTagsInput [showInputCtrl]=false   type="array" label="filter by tags" [suggestions]="(productTags$|async) || []"></store-app-repository-tags-input>
    <cdk-virtual-scroll-viewport itemSize="auto">

        <div class="gallary_container" *ngIf=" products$|async as products ; else noProducts">
            <div class="image_container"  [routerLink]="['../edit-product', prod.id]" *ngFor="let  prod of products; let i=index">
              <img style="object-fit: cover;" [ngSrc]="getthumbUrl(prod!.imageIds![0])" alt="{{prod.name}}" loading="lazy" fill />
            </div>
            
          </div>
          <ng-template #noProducts>
            noProducts
          </ng-template>
          
<!--           

    <ion-row   *ngIf="products$| async as products">
        <ion-col size="auto"  *cdkVirtualFor="let  prod of products; let i=index" class="photo-grid-item">
          <img  class="grid-img" [src]="getthumbUrl(prod!.imageIds![0])" alt="" />
        </ion-col>
</ion-row> -->


    </cdk-virtual-scroll-viewport>
  </ion-content>