<ng-container *ngIf=" products$|async as products">



  <ion-header>
    <ion-toolbar>
      <ng-container *ngIf="user|async as userInfo">
        <ion-thumbnail class="small-thumb" slot="end" *ngIf="userInfo && userInfo.photoURL">
          <ion-img [src]="userInfo.photoURL" />
        </ion-thumbnail>
      </ng-container>
      <ion-title>
        products
      </ion-title>
      <ion-buttons slot="start">
        <ng-container *ngIf="slideView;else showNewButton">
          <ion-back-button></ion-back-button>
        </ng-container>
        <ng-template #showNewButton>
          <ion-button [routerLink]="['../edit-product', 'new']" routerLinkActive="router-link-active">
            <ion-icon slot="start" name="create"></ion-icon>
            جديد
          </ion-button>
        </ng-template>

      </ion-buttons>
      <ion-buttons slot="end">


        <ion-button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>

        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container *ngIf="slideView;else templateName">
      <swiper-container (slidechange)="onSlideChange($event)" storeAppRepositorySwipperHelper [config]="config"
        init="false" style="  width: 100%; height: 100%;">
        <swiper-slide style="width: 100%;height: 100%;" class="slide"
          *ngFor="let  product of ProductsInstance; trackBy: trackBy; let i=index">
          <div style="height: 100%; width: 100%;">
            <div class="overlay box">
              <ion-card *ngIf="product">
                <ion-item>

                  <ion-label class="ion-text-wrap">
                    <ion-text style="font-size:larger; font-weight: bold;">
                      <span>{{product.name}}</span>
                    </ion-text>
                    <ion-text class="ion-float-end" color="primary">
                      <span style="font-size: larger; font-weight: bolder;">{{product.price}}</span>
                    </ion-text>
                    <ion-note class="product-note">
                      <span *ngIf="product.modelNos">رقم الموديل: {{product.modelNos}} | </span>
                      <span *ngIf="product.sizes">القياس: {{product.sizes}} | </span>
                      <span *ngIf="product.colors">اللون: {{product.colors}} | </span>

                    </ion-note>
                  </ion-label>
                  <ion-icon slot="end" name="create" [routerLink]="['../edit-product', product.id]"></ion-icon>
                </ion-item>
              </ion-card>

            </div>

            <div class="container">
              <ng-container *ngIf=" product.imageIds &&  product.imageIds[0] ;else noImgs">
                <div class="ion-margin-bottom child" *ngFor='let imgId of product.imageIds; let i=index '>
                  <div class="relative-container ">

                    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                      <ng-container *ngIf="hImage.isLoading;else hImageNotLoading">
                        <ion-fab-button>
                          <ion-spinner name="bubbles" class="big-spinner"></ion-spinner>
                        </ion-fab-button>
                      </ng-container>
                      <ng-template #hImageNotLoading>
                        <ng-container *ngIf="hImage.isError;else hImageNotError">
                          <ion-fab-button (click)="loadHDImage(hImage,imgId, 1500 )">
                            <ion-icon name="refresh"></ion-icon>
                          </ion-fab-button>
                        </ng-container>
                        <ng-template #hImageNotError>
                          <ion-fab-button (click)="loadHDImage(hImage,imgId, 1500 )">
                            <ion-icon name="image"></ion-icon>
                          </ion-fab-button>
                        </ng-template>
                      </ng-template>

                    </ion-fab>
                    <img class="ion-margin-vertical" #hImage="storeAppRepositoryHydratedImg"
                      style="width: 100%; object-fit: contain;"
                      [storeAppRepositoryHydratedImg]="imgId |imgIdtoThumbUre:600" [src]="imgId|imgIdtoThumbUre:200" />
                  </div>
                </div>
              </ng-container>
              <ng-template #noImgs>
                <div class="ion-margin-bottom child">
                  <div class="relative-container ">
                    <img class="ion-margin-vertical" style="width: 100%; object-fit: contain;"
                      src="../../../assets/imgs/noimg.jpg" />
                  </div>
                </div>
              </ng-template>

            </div>


            <!-- <ng-container *ngIf="product">
                  <div >
                    <img  *ngFor="let image of product.imageIds" loading="lazy" [src]="image |imgIdtoThumbUre:600"
                      [storeAppRepositoryHydratedImg]="image |imgIdtoThumbUre:200" alt="{{product.name}}" fill />
                  </div>
                </ng-container> -->
          </div>
          <ng-template #templateName>
            <div class="image_container" style="height: 100%;">
              <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
            </div>
          </ng-template>

        </swiper-slide>

      </swiper-container>
    </ng-container>
    <ng-template #templateName>

      <cdk-virtual-scroll-viewport itemSize="auto" class="ion-content-scroll-host">

        <!-- <ng-template #elseTemplate>
      <ion-item color="warning" *ngIf="docCount$|async as count, else noDocCount">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-label>unknown products count, cant access remote</ion-label>
      </ion-item>

   </ng-template> -->


        <ng-template #noDocCount>
          <ion-item>
            <ion-label> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-label>
          </ion-item>
        </ng-template>

        <div class="gallary_container" *ngIf="!loaded;">
          <ng-container
            *ngFor="let  prod of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
            <div class="image_container">
              <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
            </div>
          </ng-container>
        </div>
        <div class="gallary_container" *ngIf=" products$|async as products ">

          <ng-container *ngFor="let  prod of ProductsInstance; trackBy: trackBy; let i=index">
            <div class="image_container"
              (click)="previewProduct === prod ? previewProduct= null : previewProduct = prod">
              <img style="object-fit: cover;" *ngIf="prod!.imageIds && prod!.imageIds![0]; else noImg"
                [ngSrc]="prod!.imageIds![0]|imgIdtoThumbUre:200" alt="{{prod.name}}" priority="i<22" fill />
              <ng-template #noImg>
                <img style="object-fit: cover;" ngSrc="../../../assets/imgs/noimg.jpg" alt="{{prod.name}}"
                  priority="i<22" fill />
              </ng-template>
            </div>
            <div class="prod-preview" *ngIf="previewProduct === prod" (click)="previewProduct = null">
              <div class="prod-preview-content">

                <div class="card " style="flex: auto;">
                  <ion-fab vertical="top" horizontal="start" slot="fixed">
                    <ion-fab-button class="button-transparent">
                      <ion-icon name="expand" routerLink="" [queryParams]="{productId: prod.id}"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                  <div class=" card-content">
                    <div class="slides top-scrollbars">
                      <ng-container *ngIf="prod.imageIds && prod.imageIds[0]; else noImg">
                        <div id="slide-1" class=" image_container" *ngFor="let item of prod!.imageIds">
                          <ion-spinner name="bubbles" class="big-spinner" *ngIf="hImage.isLoading"></ion-spinner>
                          <img loading="lazy" #hImage="storeAppRepositoryHydratedImg" [src]="item |imgIdtoThumbUre:200"
                            [storeAppRepositoryHydratedImg]="item |imgIdtoThumbUre:600" alt="{{prod.name}}" fill />
                        </div>
                      </ng-container>
                      <ng-template #noImg>
                        <div id="slide-1" class=" image_container">
                          <img ngSrc="../../../assets/imgs/noimg.jpg" alt="{{prod.name}}" fill />
                        </div>
                      </ng-template>

                    </div>
                  </div>
                  <ion-text class="card-title">
                    <span>{{prod.name}}</span>
                  </ion-text>

                </div>
              </div>

            </div>
            <ng-container *ngIf="products.length < 2">
              <div class="image_container placeholder">
              </div>
            </ng-container>
            <ng-container *ngIf="products.length < 3">
              <div class="image_container placeholder">
              </div>
            </ng-container>
          </ng-container>




        </div>
        <ion-infinite-scroll threshold="0" (ionInfinite)="onInfinitScroll($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>





        <!--           

    <ion-row   *ngIf="products$| async as products">
        <ion-col size="auto"  *cdkVirtualFor="let  prod of products; let i=index" class="photo-grid-item">
          <img  class="grid-img" [src]="getthumbUrl(prod!.imageIds![0])" alt="" />
        </ion-col>
</ion-row> -->


      </cdk-virtual-scroll-viewport>



      <!-- <ng-container *ngIf="data.slideIndex != null;">
    <div class="swipper-wrapper" dir="rtl">

      <swiper [config]="options" [virtual]="true" mode="md" scrollbar="md" (slideChange)="onSlideChanged2($event)"
        style="min-height: 100%;">

        <ng-template swiperSlide *ngFor="let product of data.products; let i=index ">
          <div [id]="i">
            <div class="slide-content">
              <ion-card *ngIf="product">
                <ion-item>

                  <ion-label class="ion-text-wrap">
                    <ion-text style="font-size:larger; font-weight: bold;">
                      <span>{{product.name}}</span>
                    </ion-text>
                    <ion-text class="ion-float-end" color="primary">
                      <span style="font-size: larger; font-weight: bolder;">{{product.price}}</span>
                    </ion-text>
                    <ion-note class="product-note">
                      <span *ngIf="product.modelNo">رقم الموديل: {{product.modelNo}} | </span>
                      <span *ngIf="product.size">القياس: {{product.size}} | </span>
                      <span *ngIf="product.color">اللون: {{product.color}} | </span>


                    </ion-note>
                  </ion-label>
                </ion-item>
              </ion-card>


              <ng-container *ngIf="product">
                <div class="slide-images scroll-container">
                  <ion-img class="ion-margin-vertical scroll-child" *ngFor="let image of product.images"
                    [src]="image"></ion-img>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </ng-container> -->
    </ng-template>

  </ion-content>
  <ion-footer [class.zero-hieght]="slideView">
    <ion-toolbar >
      <ng-container *ngIf="networkStatus$|async">
        <div slot="end" class="ion-margin-horizontal" *ngIf="docCount$|async as count">
          <ion-label>          <ion-icon name="stats-chart-outline"></ion-icon>
            {{count}} products</ion-label>
        </div>
      </ng-container>
      
      <ion-title slot="secondary"></ion-title>
      <ion-buttons slot="start">
        <ng-container *ngIf="isFilterModalVisable; else showDropUpButton">
        <ion-button (click)="isFilterModalVisable = !isFilterModalVisable">
          <ion-icon slot="start" name="chevron-down-circle-outline"></ion-icon> hide
        </ion-button>
      </ng-container>
        <ng-template #showDropUpButton>
          <ion-button (click)="isFilterModalVisable = !isFilterModalVisable">
            <ion-icon name="search-outline"></ion-icon>search
          </ion-button>
        </ng-template>
      </ion-buttons>
    </ion-toolbar>
    <div [hidden]="!isFilterModalVisable">
      <store-app-repository-tags-input #productNameWordsInput type="array"
        [suggestions]="(suggestions|async) || []"></store-app-repository-tags-input>
      <store-app-repository-tags-input #productBatchsOptionValuesInput [showInputCtrl]=true type="array" label="الدفعة"
        [suggestions]="(productBatchsOptionValues$|async) || []"></store-app-repository-tags-input>
    </div>

  </ion-footer>

  <!-- <ion-modal #modaltrigger="open-modal" [isOpen]="isFilterModalVisable" [initialBreakpoint]="0.13"
  [breakpoints]="[0.05, 0.13,0.25, 0.5, 0.75]" [backdropDismiss]="false" [backdropBreakpoint]="0.5">

  <ng-template>
    <ion-content class="ion-padding">

    </ion-content>
  </ng-template>
</ion-modal> -->

</ng-container>