<ng-container *ngIf=" products$|async as products">



  <ion-header>
    <ion-toolbar>

      <ion-title>
        products
      </ion-title>
      <ion-buttons slot="start">
        <ng-container *ngIf="slideView;else showNewButton">
          <ion-back-button [defaultHref]="'store/'+storeId+'/products'"></ion-back-button>
        </ng-container>
        <ng-template #showNewButton>
          <ng-container *ngIf="user|async as userInfo">
            <ion-thumbnail class="small-thumb" slot="end" *ngIf="userInfo && userInfo.photoURL">
              <ion-img [src]="userInfo.photoURL" />
            </ion-thumbnail>
          </ng-container>
        </ng-template>

      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['../edit-product', 'new']" routerLinkActive="router-link-active">
          <ion-icon slot="start" name="create"></ion-icon>
          <span>جديد</span>
        </ion-button>

        <ion-button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <span>خروج</span>
        </ion-button>

      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [scrollY]="false">
    <ng-container *ngIf="slideView;else templateName">

      <ng-container *ngIf="dynamicSlidesComponent;else loadingSlidesTemplate">
        <ng-template
          *ngComponentOutlet="dynamicSlidesComponent; inputs:{products:ProductsInstance, intialSlideIndex:intialSlideIndex} ">
        </ng-template>
      </ng-container>
      <ng-template #loadingSlidesTemplate>
        <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
      </ng-template>

      <!-- <store-app-repository-products-slides-view [products]="ProductsInstance"
        [intialSlideIndex]="intialSlideIndex"></store-app-repository-products-slides-view> -->
    </ng-container>
    <ng-template #templateName>

      <cdk-virtual-scroll-viewport #scrollContainer itemSize="auto" class="ion-content-scroll-host">

        <ng-template #noDocCount>
          <ion-item>
            <ion-label> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-label>
          </ion-item>
        </ng-template>

        <div class="gallary_container" *ngIf="!loaded;">
          <ng-container
            *ngFor="let  prod of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let i=index">
            <div class="image_container">
              <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
            </div>
          </ng-container>
        </div>
        <div class="gallary_container" #gridContainer *ngIf=" products$|async as products ">

          <ng-container *ngFor="let  prod of ProductsInstance; trackBy: trackBy; let i=index">
            <div #imgContainer [style.--heightInGridRows]="heightInGridRows" class=""
              [class]="previewProduct === prod ? 'prod-preview' : 'image_container'">
              <ng-container *ngIf="previewProduct === prod; else showThumb">
                <div #title (click)="showProductInfo = !showProductInfo" class="prod-preview-content">
                  <div class="card" style="flex: auto;">
                    <ion-fab vertical="top" *ngIf="showProductInfo" horizontal="start" slot="fixed">
                      <ion-fab-button class="button-transparent" (click)="previewProduct = null">
                        <ion-icon name="chevron-collapse-outline"></ion-icon>
                      </ion-fab-button>
                    </ion-fab>
                    <div class=" card-content">
                      <div class="slides top-scrollbars">
                        <ng-container *ngIf="prod.imageIds && prod.imageIds[0]; else noImg">
                          <div id="slide-1" class=" image_container" *ngFor="let item of prod!.imageIds">
                            <ion-spinner name="bubbles" class="big-spinner" *ngIf="false"></ion-spinner>
                            <img loading="lazy" style="object-fit: contain;" #hImage="storeAppRepositoryHydratedImg"
                              [src]="item |imgIdtoThumbUre:200"
                              [storeAppRepositoryHydratedImg]="item |imgIdtoThumbUre:1500" alt="{{prod.name}}" fill />
                          </div>
                        </ng-container>
                        <ng-template #noImg>
                          <div id="slide-1" class=" image_container">
                            <img ngSrc="../../../assets/imgs/noimg.jpg" alt="{{prod.name}}" fill />
                          </div>
                        </ng-template>

                      </div>
                      <ion-item class="ion-no-margin" *ngIf="showProductInfo"
                        style="position: absolute; bottom: 35px; right: 15px;left: 15px;">
                        <ion-label class="ion-text-wrap">

                          <ion-text style="font-size:larger; font-weight: bold;">
                            <span>{{prod.name}}</span>
                          </ion-text>
                          <ion-text class="ion-float-end" color="primary">
                            <span style="font-size: larger; font-weight: bolder;">{{prod.price}}</span>
                          </ion-text>
                          <ion-note class="product-note" style="display: block;">
                            <span *ngIf="prod.modelNos && prod.modelNos.length">رقم الموديل: {{prod.modelNos}} | </span>
                            <span *ngIf="prod.sizes">القياس: {{prod.sizes}} | </span>
                            <span *ngIf="prod.colors">اللون: {{prod.colors}} | </span>
                            <span *ngIf="prod.customProperties['batch']">الدفعة: {{prod.customProperties['batch']}} |
                            </span>

                          </ion-note>
                        </ion-label>
                        <ion-icon slot="end" (click)="presentPopover($event)"
                          name="ellipsis-vertical-outline"></ion-icon>
                      </ion-item>
                    </div>


                  </div>
                </div>

              </ng-container>
              <ng-template #showThumb>
                <div style=" width: 100%; height: 100%;"
                  (click)="previewProduct = prod; showProductPreview(imgContainer,gridContainer, scrollContainer)">
                  <img style="object-fit: cover;" *ngIf="prod!.imageIds && prod!.imageIds![0]; else noImg"
                    [src]="prod!.imageIds![0]|imgIdtoThumbUre:200" alt="{{prod.name}}" priority="i<22" fill />
                  <ng-template #noImg>
                    <img style="object-fit: cover;" ngSrc="../../../assets/imgs/noimg.jpg" alt="{{prod.name}}"
                      priority="i<22" fill />
                  </ng-template>
                </div>
              </ng-template>

            </div>
            <ng-container *ngIf="products.length < 2">
              <div class="image_container placeholder">
              </div>
            </ng-container>
            <ng-container *ngIf="products.length < 3">
              <div class="image_container placeholder">
              </div>
            </ng-container>
          </ng-container>

        </div>
        <ion-infinite-scroll threshold="0" (ionInfinite)="onInfinitScroll($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </cdk-virtual-scroll-viewport>

    </ng-template>

  </ion-content>
  <ion-footer [class.zero-hieght]="slideView">

    <ion-toolbar>
      <ng-container *ngIf="networkStatus$|async">
        <div slot="end" class="ion-margin-horizontal" *ngIf="docCount$|async as count">
          <ion-label> <ion-icon name="stats-chart-outline"></ion-icon>
            {{count}} products</ion-label>
        </div>
      </ng-container>

      <ion-title slot="secondary"></ion-title>
      <ion-buttons slot="start">
        <ng-container *ngIf="isFilterModalVisable; else showDropUpButton">
          <ion-button (click)="isFilterModalVisable = !isFilterModalVisable">
            <ion-icon slot="start" name="chevron-down-circle-outline"></ion-icon> hide
          </ion-button>

        </ng-container>
        <ng-template #showDropUpButton>
          <div style="    display: flex;
          align-items: center;
          border-radius: 15px;" *ngIf="{filterText: filterText$|async} as filterData">
            <div style="  
            flex-wrap: nowrap;
            display: flex;
            align-items: center;" (click)="isFilterModalVisable = !isFilterModalVisable">
              <ion-icon slot="start" name="search-outline"></ion-icon>
              <span>{{filterData.filterText || 'بحث'}}</span>
            </div>
            <ion-icon slot="end" name="close" (click)="filterFormControl.patchValue([])"
              *ngIf=" filterFormControl.value?.length"></ion-icon>
          </div>
        </ng-template>
      </ion-buttons>
    </ion-toolbar>
    <div [hidden]="!isFilterModalVisable">
      <store-app-repository-product-filter #productFilterForm
        [formControl]="filterFormControl"></store-app-repository-product-filter>
    </div>

  </ion-footer>

</ng-container>
<ion-popover #popover [isOpen]="isProductActionsOpen" side="top" alignment="start" [dismissOnSelect]="true"
  (didDismiss)="isProductActionsOpen = false">
  <ng-template>
    <ion-content class="ion-padding" *ngIf="previewProduct">
      <ion-item [button]="true" [detail]="false" (click)="$event.stopPropagation(); previewProduct = null">collaps
        <ion-icon slot="start" name="chevron-collapse-outline"></ion-icon>
      </ion-item>

      <ion-item [button]="true" [detail]="false" routerLink="" [queryParams]="{productId: previewProduct?.id}">expand
        <ion-icon slot="start" name="chevron-expand-outline"></ion-icon>
      </ion-item>

      <ion-item [button]="true" [detail]="false" [routerLink]="['../edit-product', previewProduct?.id]">edit
        <ion-icon slot="start" name="create"></ion-icon>
      </ion-item>

      <ion-item [button]="true" [detail]="false" (click)="copyText(previewProduct)">copy
        <ion-icon slot="start" name="copy-outline"></ion-icon>
      </ion-item>

    </ion-content>
  </ng-template>
</ion-popover>