cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}

.gallary_container {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  grid-auto-rows: 7em;
  padding: 5px;
}

.image_container {
  position: relative;
  //background-color: deepskyblue;
}
.placeholder {
  background-color: transparent;
}
.zero-hieght {
  max-height: 0px;
}
.image_container img {
  width: 100%;
  height: 100%;
  //   box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
  //     rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  object-fit: cover;
}
.prod-preview img {
  width: 100%;
  font-size: large;

  height: 100%;
  //   box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
  //     rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  object-fit: cover;
}
.prod-preview {
  grid-column: 1/-1;
  // grid-column-end: span col4-start;
  grid-row-start: span var(--heightInGridRows);
  // grid-row-end: span 2;
}
.prod-preview-content {
  position: relative;
  background-color: deepskyblue;
  display: flex;
  height: 100%;
  width: 100%;
}

.small-thumb {
  --size: 32px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .image-tall {
    grid-row: span 2 / auto;
  }

  .image-wide {
    grid-column: span 2 / auto;
  }
}
.card {
  max-width: 100%;
  margin-inline: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-content {
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  height: 100%;
  width: 100%;
}

.card-content img {
  border-radius: 4px;
}
div.top-scrollbars {
  transform: rotateX(180deg);
}
div.top-scrollbars * {
  transform: rotateX(180deg);
}

.card-title {
  position: absolute;
  bottom: 35px;
  right: 15px;
  background-color: #a9a9a9;
  font-size: larger;
  padding: 5px 10px;
  color: #ffffff;
}

// .slider {
//   width: 100%;
//   text-align: center;
//   overflow: hidden;
// }

.slides {
  display: flex;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  // margin-right: 50px;
  border-radius: 15px;
  background: #000000;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
// .slides img {
//   object-fit: cover;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
.slides > div:target {
  /*   transform: scale(0.8); */
}
