<ion-header>
  <ion-toolbar>
    <ion-title>Edit Product</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveProductToFirestore(productForm.value)">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="saveProductToFirestore(productForm.value)">

    <store-app-repository-tags-input type="array"
      [suggestions]="(suggestions|async) || []"></store-app-repository-tags-input>

    <ion-item>
      <ion-input label="Name" formControlName="name"></ion-input>
    </ion-item>

    <form formGroupName="customProperties">
      <store-app-repository-tags-input type="array" formControlName="batch" [maxTags]="1"
        [suggestions]="(batchOptions| async) || []" label="الدفعة"></store-app-repository-tags-input>
    </form>

    <ion-item>
      <ion-input label="Price" type="number" formControlName="price"></ion-input>
    </ion-item>
    <store-app-repository-tags-input type="array" formControlName="modelNos" [maxTags]="10"
      label="ModelNo"></store-app-repository-tags-input>
    <store-app-repository-form-photo-control
      formControlName="thumbProperties"></store-app-repository-form-photo-control>

    <ion-item>
      <ion-input label="Brand" formControlName="brand"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Cost Price" type="number" formControlName="costPrice"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Notice" formControlName="note"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-input label="Model No" formControlName="modelNo"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-input label="Size" formControlName="sizes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Color" formControlName="colors"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Images</ion-label>
      <input type="file" #fileInput (change)="readImgFile($event)">
      <img [src]="selectedImageSrc" (load)="imgLoaded($event)">
     </ion-item> -->
    <!-- 
    <div formArrayName="images">
      <ion-item *ngFor="let imageControl of imagesArray.controls; let i = index">
        <ion-input style="display: none;" [formControlName]="i"></ion-input>
        <ion-img [src]="imageControl.value"></ion-img>
        <ion-button (click)="removeImage(i)">Remove</ion-button>
      </ion-item>
    </div> -->

    <!-- <div formArrayName="imageIds">
      <ion-item *ngFor="let imageControl of imageIdsArray.controls; let i = index">
        <ion-input [formControlName]="i"></ion-input>
        <ion-button (click)="removeImageId(i)">Remove</ion-button>
      </ion-item>
    </div>
 -->


    <ion-item>
      <ion-input label="Balance" type="number" formControlName="balance"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Origin" formControlName="origin"></ion-input>
    </ion-item>
    <ion-button type="submit">Save</ion-button>
    <ion-button *ngIf="!addNew" (click)="deleteProduct(productForm.value.id)">delete</ion-button>

  </form>

</ion-content>

<ion-alert
[isOpen]="showLeaveEditWarning"
header="الخروج قبل حفظ التغييرات؟!"
[buttons]="alertButtons"
(didDismiss)="showLeaveEditWarning = false"
></ion-alert>
